body {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    min-width: 960px;
    padding: 0;
}

div {
    display: block;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}


#header {
    margin: 0 auto;
    padding: 44px 0 50px;
    text-align: center;
    width: 960px;
}

#header ul {
    margin: 0;
    padding: 56px 0 0;
}



#header ul li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0 19px;
}


#header ul li.selected a {
    color: #0ba39c;
}

#header ul li a {
    color: #252525;
    display: inline-block;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0 0 3px;
    text-decoration: none;
    text-transform: uppercase;
}

#header a.logo {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 340px;
}

#header a.logo img {
    border: 0;
    display: block;
    margin: 0;
    padding: 0;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}


#body {
    margin: 0;
    padding: 0 0 30px;
    text-align: center;
}

#body #featured {
    margin: 0 0 13px;
    padding: 0;
    position: relative;
    width: 100%;
}

#body #featured img {
    border: 0;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}

#body #featured div {
    left: 50%;
    margin-left: -480px;
    margin-top: -171px;
    padding: 0 0 0 470px;
    position: absolute;
    top: 50%;
    text-align: left;
    width: 490px;
}

#body #featured div h2 {
    background: #fff;
    color: #000;
    display: inline-block;
    font-family: poller_oneregular;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 18px;
    padding: 23px 27px 20px;
    text-transform: uppercase;
}

#body #featured div span {
    background: #252525;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    margin: 7px 0;
    padding: 12px 27px;
}

#body #featured div a {
    background: #0ba39c;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin: 15px 0 0;
    padding: 26px 27px 22px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

#body > ul {
    margin: 0 auto;
    overflow: hidden;
    padding: 24px 0 0;
    width: max-content;
}

#body > ul li {
    display: block;
    float: left;
    margin: 0 10px 20px;
    padding: 0;
    width: 300px;
}

#body > ul li a {
    color: #000;
    display: block;
    font-family: poller_oneregular;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

#body > ul li a img {
    border: 2px solid #1a1a1a;
    display: block;
    margin: 0;
    padding: 0;
    opacity: .8;
    transition: 0.5s ease-in-out;
    max-width: 100%;
    max-height: 100%;
}

#body > ul li a span {
    display: block;
    margin: 0;
    padding: 33px 0 0;
}

@media screen and (max-width: 568px) {
    body{
        min-width:568px;
    }
    
    #header{
        max-width:450px;
    }

    #container{
        display: grid;
        grid-template-areas: 
                        "bx1"
                        "bx2"
                        "bx3" ;
    }
    #smV {grid-area: bx1;}
    #smV1 {grid-area: bx2;}
    #smV2 {grid-area: bx3;}
}